.navbar{
    background-color: #9400D3;
}

.col-form-label{
    text-align: right;
}

#find_flight .card-body .col-md-12 .row{
    margin-top: 1rem;
}

#passengers_count input, #passengers_count button{
    width: 25%;
    height: 100%;
}

.card .row{
    margin-top: 1rem;
}

.card label{
    text-align: end;
}